# בדיקת תמיכה בעברית וערבית

זהו טקסט בעברית שאמור להופיע מימין לשמאל. הטקסט כולל מספרים כמו 123 ומילים באנגלית כמו Python שאמורות להישאר בכיוון הנכון.

## اختبار اللغة العربية

هذا نص باللغة العربية يجب أن يظهر من اليمين إلى اليسار. النص يحتوي على أرقام مثل 456 وكلمات إنجليزية مثل Jupyter التي يجب أن تبقى في الاتجاه الصحيح.

In [ ]:
# קוד Python בעברית
print("שלום עולם")

# متغيرات عربية
النتيجة = 42
print(f"النتيجة هي: {النتيجة}")

### בדיקת רשימות וטבלאות

1. פריט ראשון בעברית
2. פריט שני עם מספרים 789
3. פריט שלישי

| עמודה א | עמודה ב | עמודה ג |
|---------|---------|----------|
| ערך 1   | ערך 2   | ערך 3    |
| ערך 4   | ערך 5   | ערך 6    |

In [ ]:
# Mixed Hebrew and English code
import pandas as pd

# יצירת DataFrame עם נתונים בעברית
נתונים = {
    'שם': ['אליס', 'בוב', 'צ'רלי'],
    'גיל': [25, 30, 35],
    'עיר': ['תל אביב', 'חיפה', 'ירושלים']
}

df = pd.DataFrame(נתונים)
print("טבלת הנתונים:")
print(df)