# בדיקת תמיכה בעברית וערבית

זהו טקסט בעברית שאמור להופיע מימין לשמאל. הטקסט כולל מספרים כמו 123 ומילים באנגלית כמו Python שאמורות להישאר בכיוון הנכון.

## اختبار اللغة العربية

هذا نص باللغة العربية يجب أن يظهر من اليمين إلى اليسار. النص يحتوي على أرقام مثل 456 وكلمات إنجليزية مثل Jupyter التي يجب أن تبقى في الاتجاه الصحيح.

In [1]:
# קוד Python בעברית
print("שלום עולם")

# متغيرات عربية
النتيجة = 42
print(f"النتيجة هي: {النتيجة}")

שלום עולם
النتيجة هي: 42

### בדיקת רשימות וטבלאות

1. פריט ראשון בעברית
2. פריט שני עם מספרים 789
3. פריט שלישי

| עמודה א | עמודה ב | עמודה ג |
|---------|---------|----------|
| ערך 1   | ערך 2   | ערך 3    |
| ערך 4   | ערך 5   | ערך 6    |

In [ ]:
# Mixed Hebrew and English code
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# יצירת DataFrame עם נתונים בעברית
נתונים = {
    'שם': ['אליס', 'בוב', 'צ\'רלי', 'דינה', 'אבי'],
    'גיל': [25, 30, 35, 28, 42],
    'עיר': ['תל אביב', 'חיפה', 'ירושלים', 'באר שבע', 'אילת'],
    'משכורת': [12000, 15000, 18000, 13500, 22000]
}

df = pd.DataFrame(נתונים)
print("טבלת הנתונים:")
display(df)

### תמונות וגרפים

הטקסט הזה צריך להיות RTL, אבל התמונות והגרפים צריכים להישאר במקום הנכון.

![Sample Image](https://via.placeholder.com/400x200/0066CC/FFFFFF?text=Sample+Chart)

هذا نص عربي مع صورة أيضاً. يجب أن تبقى الصورة في مكانها الصحيح.

In [ ]:
# תמונה וגרף נוסף
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 5))

# גרף עוגה
ax1.pie(df['משכורת'], labels=df['שם'], autopct='%1.1f%%', startangle=90)
ax1.set_title('חלוקת משכורות לפי עובד')

# גרף קווים
ages = df['גיל']
salaries = df['משכורת']
ax2.plot(ages, salaries, marker='o', linewidth=2, markersize=8)
ax2.set_xlabel('גיל')
ax2.set_ylabel('משכורת (₪)')
ax2.set_title('קשר בין גיל למשכורת')
ax2.grid(True, alpha=0.3)

plt.tight_layout()
plt.show()

print("התמונות והגרפים צריכים להישאר ממורכזים במסך, ללא תלות בכיוון הטקסט")

### טבלה מורכבת עם עיצוב

הטבלה הזו צריכה לשמור על המבנה שלה (עמודות משמאל לימין) אבל הטקסט בתוכה צריך להיות RTL.

| מספר | שם הלקוח | עיר מגורים | סכום הזמנה | תאריך | סטטוס |
|------|-----------|-------------|-------------|--------|--------|
| 001 | יוסי כהן | תל אביב | 1,250 ₪ | 15/08/2025 | ✅ שולם |
| 002 | מירי לוי | חיפה | 890 ₪ | 16/08/2025 | ⏳ בהמתנה |
| 003 | אברהם שמיר | ירושלים | 2,100 ₪ | 17/08/2025 | ✅ שולם |
| 004 | רחל גולדברג | באר שבע | 1,750 ₪ | 18/08/2025 | ❌ בוטל |

**סיכום:** סך הכל 4 הזמנות, סכום כולל: 6,990 ₪

In [ ]:
# יצירת גרף עם תוויות בעברית
plt.figure(figsize=(10, 6))

# גרף עמודות
cities = df['עיר']
salaries = df['משכורת']

plt.bar(cities, salaries, color=['#FF6B6B', '#4ECDC4', '#45B7D1', '#96CEB4', '#FFEAA7'])
plt.title('משכורות לפי עיר', fontsize=16, fontweight='bold')
plt.xlabel('עיר')
plt.ylabel('משכורת (₪)')
plt.xticks(rotation=45)
plt.grid(axis='y', alpha=0.3)
plt.tight_layout()
plt.show()

print("הגרף מציג את המשכורות בערים השונות")